<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

    <script src="node_modules/jquery/dist/jquery.js"></script>

    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="node_modules/underscore/underscore.js"></script>
    <script src="node_modules/backbone/backbone.js"></script>
    <script src="node_modules/backbone.localstorage/backbone.localStorage.js"></script>

    <style>
      label{
        font-size: 50px;
      }
    </style>
  </head>
  <body>
    <section id="ottol-app" class="container-fluid text-center">
    </section>

    <script type="text/template" id ="win-number">
      <section id="view-win-number">
        <label class="col-md-2"><%= winNumber[0] %></label>
        <label class="col-md-2"><%= winNumber[1] %></label>
        <label class="col-md-2"><%= winNumber[2] %></label>
        <label class="col-md-2"><%= winNumber[3] %></label>
        <label class="col-md-2"><%= winNumber[4] %></label>
        <label class="col-md-2"><%= winNumber[5] %></label>
      </section>
      <a href="#/" class="btn btn-default">Back</a>
    </script>

    <script type="text/template" id="index">
      <h1>Ottol</h1>
      <a href="#/winnumber" class="btn btn-default">Number of the Day!</a>
    </script>

    <script src="js/models/win.number.js"></script>

    <script src="js/collections/win.number.js"></script>

    <script src="js/routers/router.js"></script>

    <script src="js/views/win.number.view.js"></script>
    <script src="js/views/index.view.js"></script>
    <script src="js/views/app.view.js"></script>

    <script src="js/app.js"></script>
  </body>
</html>
